#example .masthead {
    position: relative;
    overflow: hidden;
    text-align: center;
    /* background-color: #000000; */
    background-position: 50% 50%;
}

#example .masthead.bg7:after {
    background-image: url(../images/backgrounds/7.jpg);
}

#example .masthead .container {
    height: 55vh;
    padding: 15rem 0rem;
}

#example .masthead .container>h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3em;
}

#example .masthead:after {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-size: cover;
    opacity: 0.45;
}

.article-list-container {
    text-align: center;
    font-size: 1.2rem;
    padding: 8em 0em;
}

#articleList {
    border: 1px solid #8b0c0c;
}