:root {
    --color-theme-dark-background-color: #373e47;
    --color-theme-dark-color: #ffffff;
    --color-theme-light-background-color: #ffffff;
    --color-theme-light-color: #666666;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
    box-sizing: border-box;
}

[theme=theme-dark] {
    color: var(--color-theme-dark-color);
    background-color: var(--color-theme-dark-background-color);
}

[theme=theme-light] {
    color: var(--color-theme-light-color);
    background-color: var(--color-theme-light-background-color);
}

.area[style-video-personal] {
    width: 500px;
    height: 150px;
    background-color: coral;
    margin: 0 auto;
}

.area[style-saloon] {
    width: 500px;
    height: 50px;
    background-color: bisque;
    margin: 0 auto;
}

#themeSelecter {
    margin-bottom: 20px;
}

.content {
    padding: 30px;
    text-align: center;
}